# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
release/
release-builds/

# Temp files
convert-icon.js
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.vs/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
Desktop.ini
